<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">احراز هویت</a>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link active" aria-current="page" href="{% url 'login-user' %}">ورود</a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown ">-->
<!--                    <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdown" role="button"-->
<!--                       data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        قطعات-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="{% url 'part-list' %}">لیست قطعات</a></li>-->
<!--                        <li><a class="dropdown-item" href="{% url 'part-add' %}">ثبت قطعه</a></li>-->
<!--                        &lt;!&ndash;            <li><hr class="dropdown-divider"></li>&ndash;&gt;-->
<!--                        &lt;!&ndash;            <li><a class="dropdown-item" href="/admin">تنظیمات</a></li>&ndash;&gt;-->
<!--                    </ul>-->
<!--                </li>-->


<!--                <li class="nav-item dropdown ">-->
<!--                    <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdown" role="button"-->
<!--                       data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        محصولات-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="{% url 'product-list' %}">لیست محصولات</a></li>-->
<!--                        <li><a class="dropdown-item" href="{% url 'product-add' %}">ثبت محصول</a></li>-->
<!--                        &lt;!&ndash;            <li><hr class="dropdown-divider"></li>&ndash;&gt;-->
<!--                        &lt;!&ndash;            <li><a class="dropdown-item" href="/admin">تنظیمات</a></li>&ndash;&gt;-->
<!--                    </ul>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">خروج</a>
                </li>
            </ul>
            <span class="navbar-text">
                در انتظار ورود کاربر...
            </span>

        </div>
    </div>
</nav>