{% extends 'support/base.html' %}

{% block content %}

<br>
<center>
<h1>لیست قطعات اولیه</h1>
</center>
<br>

      <form class="d-flex" style="padding: 30px" action="" method=POST>
          {% csrf_token %}
        <input class="form-control" type="search" value="{{ searched_item }}" placeholder="جستجو در قطعات..." name="searched_item">
        <button class="btn btn-secondary" type="submit">جستجو</button>
      </form>

<br>

<table class="table table-striped table-hover table-responsive">

{% for part in parts_list %}
   <tr>
       <td>
           <a href="{% url 'part-show' part.id %}"> {{ part }} </a>
       </td>
       <td align="left">
           <a href="{% url 'part-update' part.id %}" class="btn btn-outline-success btn-sm"> بروزرسانی </a>
           <a href="{% url 'part-delete' part.id %}" class="btn btn-outline-danger btn-sm"> حذف </a>
       </td>

   </tr>
{% endfor %}

</table>
{% endblock %}