{% extends 'mainapp/base.html' %}

{% block content %}

<!-- place navbar here -->
{% include './navbar.html' %}
<!-- place body content here -->


    <center>
        <br><br>
        <h2 style="padding: 10px">فرم افزودن قطعه</h2>

        {% if submitted == True %}
        <p>قطعه تعریف شده با موفقیت ثبت گردید</p>
        <a href="{% url 'part-add' %}" >بازگشت</a>

        {% else %}

        <form action="" method="POST" style="padding: 100px">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="ثبت قطعه" class="btn btn-success">
        </form>

        {% endif %}
    </center>

{% endblock %}
