{% extends 'mainapp/base.html' %}

{% block content %}

<!-- place navbar here -->
{% include './navbar.html' %}
<!-- place body content here -->

<div class="card" style="padding: 30px">
  <h5 class="card-header">{{ part }}</h5>
  <div class="card-body">
    <p class="card-text">

          <strong>مشخصات تامین کننده</strong>
            {% if part.part_supplier %}
              <li>نام تامین کننده: {{ part.part_supplier.supplier_name }} </li>
              <li>شماره تلفن تامین کننده: {{ part.part_supplier.supplier_phone }} </li>
              <li> آدرس تامین کننده: {{ part.part_supplier.supplier_address }} </li>
              <li> توضیحات تامین کننده: {{ part.part_supplier.supplier_description }} </li>
            {% else %}
              <li>نام تامین کننده: متفرقه </li>
              <li>شماره تلفن تامین کننده: ندارد </li>
              <li> آدرس تامین کننده: ندارد </li>
              <li> توضیحات تامین کننده:  </li>
            {% endif %}
          <strong>مشخصات قطعه</strong>
          <li> توضیحات قطعه: {{ part.part_description }} </li>
          <li> قیمت خرید: {{ part.part_buy_price }} </li>

    </p>
    <a href="{% url 'part-list' %}" class="btn btn-secondary">بازگشت به لیست</a>
  </div>
</div>

{% endblock %}
