{% extends 'mainapp/base.html' %}

{% block content %}

<!-- place navbar here -->
{% include './navbar.html' %}
<!-- place body content here -->

<br><br>
<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
<!--          <button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 class="modal-title" style="text-align: center;">فرم افزودن قطعه</h4>
        </div>

        <div class="modal-body">

     <center>

        <form action="" method="POST" style="padding: 100px">
            {% csrf_token %}
            {{form.as_p}}
            <div class="modal-footer">
                <input type="submit" value="ثبت قطعه" class="btn btn-success">
                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
            </div>
        </form>

    </center>
        </div>

        </div>

    </div>
  </div>

</div>

<br>
<center>
<h2>لیست قطعات</h2>


<!--/////////////////////////////    -->
</center>
<br>

      <form class="d-flex" style="padding: 30px" action="" method=POST>
          {% csrf_token %}
        <input class="form-control" type="search" value="{{ searched_item }}" placeholder="جستجو در قطعات..." name="searched_item">
        <button class="btn btn-secondary" type="submit">جستجو</button>
          <div class="col-auto">
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-primary col-auto" data-toggle="modal" data-target="#myModal">افزودن سریع قطعه</button>
          </div>
      </form>

<br>
<!--//////////////////////////////-->


        <table class="table table-secondary table-striped table-hover table-responsive table-sm table caption-top">
            <caption>تعداد قطعات ثبت شده : {{ parts_list.count }}</caption>
            <thead class="table-dark">
    <tr>
        <th scope="col">نام قطعه</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
{% for part in parts_list %}
   <tr>
       <td>
           <a href="{% url 'part-show' part.id %}"> {{ part }} </a>
       </td>
       <td align="left">
           <a href="{% url 'part-update' part.id %}" class="btn btn-outline-success btn-sm"> بروزرسانی </a>
           <a href="{% url 'part-delete' part.id %}" class="btn btn-outline-danger btn-sm"> حذف </a>
       </td>

   </tr>
{% endfor %}
    </tbody>

</table>
<br>

{% endblock %}