{% extends 'mainapp/base.html' %}

{% block content %}

<!-- place navbar here -->
{% include './navbar.html' %}
<!-- place body content here -->

<div class="card" style="padding: 30px">
  <h5 class="card-header">{{ product }}</h5>
  <div class="card-body">
    <p class="card-text">

          <strong>مشخصات محصول</strong>
          <li>نام محصول : {{ product.product_name }} </li>
          <li>مدل محصول : {{ product.product_model }} </li>


    </p>
    <a href="{% url 'product-list' %}" class="btn btn-secondary">بازگشت به لیست</a>
  </div>
</div>

{% endblock %}